.stats-page {
    background-color: #123524;
    height: 100%;
    width: 100%;
}

.stats-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.upper-logo-container {
    background-color: #123524;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-name {
    font-size: 1.5em;
    color: white;
    font-family: "Open Sans-SemiBold", Helvetica, sans-serif;
    font-weight: bold;
}

.logo {
    height: 85px;
}

.bottom-stats-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    padding: 45px 0;
    gap: 25px;
}

.plant-type {
    height: -webkit-fill-available;
    text-align: center;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 75%;
}

.user-type {
    font-size: 1.2em;
    height: -webkit-fill-available;
}

.user-type-name {
    font-size: 1.4em;
    display: block;
    /* margin: 10px; */
}

.change-plant {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0;
    width: fit-content;
}


.plant-data {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}


.temperature-data,
.humidity-data,
.light-data {
    background-color: #123524;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    width: 20%;
}


.temp-head {
    font-size: 0.9em;
    font-weight: bold;
    font-family: sans-serif;
}

.temp-stats {
    font-size: 2em;
    margin-top: 10px;
    display: block;
    font-family: sans-serif;
}


.humidity-data {
    position: relative;
    font-family: sans-serif;
}

.humidity-head {
    font-size: 0.9em;
    font-weight: bold;
    font-family: sans-serif;
}

.air-data,
.soil-data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
    font-family: sans-serif;
}

.air-stats,
.soil-stats {
    font-size: 1.2em;
}

.give-water {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px auto 0;
    display: block;
    background-color: #145233;
    color: white;
    cursor: pointer;
}

.light-head {
    font-size: 0.9em;
    font-weight: bold;
    font-family: sans-serif;
}

.light-stats {
    font-size: 2em;
    margin-top: 10px;
    display: block;
    font-family: sans-serif;
}

.light-slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 4px;
    background: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #145233;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #145233;
    border-radius: 50%;
    cursor: pointer;
}

.plant-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.plant-description {
    font-size: 1.2em;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.plant-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.plant-btn, .open-modal-btn {
    padding: 9px 19px;
    background-color: #11804a;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

.plant-btn:hover, .open-modal-btn:hover {
    background-color: #0f6e40;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #11804a;
    width: 47%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.modal-overlay.active .modal {
    transform: scale(1);
}

.modal-btns {
    background-color: transparent;
    padding: 0;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.close-modal-btn, .add-modal-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.delete-plant {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    height: 30px;
    margin-right: 10px;
}

.change-plant-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.change-plant-data-container {
    background-color: #145233;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 75%);
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1.1em;
    /* font-family: Open Sans; */
}

.change-plant-data {
    width: -webkit-fill-available;
}

.change-plant-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 25px;
    color: black;
    font-size: 0.9em;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 75%);
    cursor: pointer;
}

.change-plant-btn:hover {
    background-color: #eeffe5;
}

.change-plant-btn:active {
    background-color: #eeffe5;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 75%);
}