<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/logIn.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <title>SmartPlantie</title>
</head>
<body>

<div class="log-in">
    <div class="log-in-container">
        <span>Welcome back!</span>
        <form action="/dots/logIn" method="post">
            <input type="text" id="username" name="username" placeholder="Enter username" maxlength=15 required>
            <input type="password" id="password" name="password" placeholder="Enter password" maxlength="15" required>
            <input type="submit" value="Log In">
        </form>
    </div>
</div>
</body>
</html>
