<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/logIn.css" />
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <title>SmartPlantie</title>
</head>
<body>

<div class="log_in">
    <div class="general_background">
        <div class="div">
            <span>Welcome back!</span>
            <form action="/dots/logIn" method="post">
                <input type="text" id="username" name="username" placeholder="Enter username" maxlength=15 required><br>
                <input type="password" id="password" name="password" placeholder="Enter password" maxlength="15" required>
                <input type="submit" value="Log In">
            </form>
            <div class="error-message" th:if="${loginError}" th:text="${loginError}"></div>
        </div>
    </div>
</div>
</body>
</html>
