<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/logIn.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title>SmartPlantie</title>
</head>
<body>

<div class="log-in">
    <div class="log-in-container">
        <span>Please log in</span>
        <form action="/smartPlantie/login" method="post">
            <label for="username" style="color: #85A947" th:if="${param.registered}">Your registration is
                successful!</label>
            <label th:if="${param.error}" for="username" style="color: #85A947">Invalid username or password</label>
            <input type="text" id="username" name="username" placeholder="Enter username" maxlength=15 required>
            <input type="password" id="password" name="password" placeholder="Enter password" maxlength="15" required>
            <input type="submit" value="Log In">
        </form>
    </div>
</div>
</body>
</html>
