<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/plantType.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title>SmartPlantie</title>
</head>
<body>

<div class="plants-page">
    <div class="plants-page-container">
        <span class="plants-main-span">Please choose type of your plant:</span>
        <div class="plants">
            <div class="dry-plants">
                <img src="/images/succulent.png" alt="Succulent">
                <button class="dry-btn" onclick="location.href='http://localhost:8080/smartPlantie/stats?plant=dry'"></button>
                <span>Dry-loving plants</span>
            </div>
            <div class="medium-plants">
                <img src="/images/calathea.png" alt="Calathea">
                <button class="med-btn" onclick="location.href='http://localhost:8080/smartPlantie/stats?plant=med'"></button>
                <span>Plants that like medium humidity</span>
            </div>
            <div class="water-plants">
                <img src="/images/azalia.png" alt="Azalea">
                <span>Water-loving plants</span>
                <button class="water-btn" onclick="location.href='http://localhost:8080/smartPlantie/stats?plant=water'"></button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>