<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/stats.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title>SmartPlantie</title>

    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="/js/stats.js"></script>
    <script src="/js/mqtt.js"></script>
</head>
<body>
<div class="stats-page" style="background-image:url('/images/background.png'); background-size: cover;">
    <div class="stats-page-container">
        <div class="upper-logo-container">
            <img class="logo" src="/images/logo.png">
            <span class="logo-name">SmartPlantie</span>
            <form action="/smartPlantie/logout" method="POST" class="logout-form">
                <button class="logout">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 21C4.45 21 3.97933 20.8043 3.588 20.413C3.19667 20.0217 3.00067 19.5507 3 19V5C3 4.45 3.196 3.97933 3.588 3.588C3.98 3.19667 4.45067 3.00067 5 3H12V5H5V19H12V21H5ZM16 17L14.625 15.55L17.175 13H9V11H17.175L14.625 8.45L16 7L21 12L16 17Z"
                              fill="#11804A"/>
                    </svg>
                </button>
            </form>
        </div>
        <div class="bottom-stats-container">
            <div class="plant-type">
                <div class="plant-info"><span class="user-type">Your plant: </span>
                    <span class="user-type-name"> </span>
                    <div class="plant-btns">
                        <button class="open-modal-btn">Change or add plant</button>
                        <button class="plant-btn" onclick="checkPlantState()">Check the plant state</button>
                    </div>
                </div>
                <span class="plant-description"></span>
            </div>

            <div class="plant-data">
                <div class="temperature-data">
                    <span class="temp-head">Temperature</span>
                    <span class="temp-stats">- °C</span>
                </div>

                <div class="humidity-data">
                    <span class="humidity-head">Humidity</span>
                    <div class="air-data">
                        <span class="air-head">Air: </span>
                        <span class="air-stats">- %</span>
                    </div>
                    <div class="soil-data">
                        <span class="soil-head">Soil: </span>
                        <span class="soil-stats">- %</span>
                        <button class="give-water" onclick="waterPlant()">Water the plant!</button>
                    </div>
                </div>

                <div class="light-data">
                    <span class="light-head">Light</span>
                    <span class="light-stats">- %</span>

                    <div class="sun-design">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                                  stroke="#11804A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 2V4M12 20V22M4.93 4.93L6.34 6.34M17.66 17.66L19.07 19.07M2 12H4M20 12H22M6.34 17.66L4.93 19.07M19.07 4.93L17.66 6.34"
                                  stroke="#11804A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                                  stroke="#11804A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 2V4M12 20V22M4.93 4.93L6.34 6.34M17.66 17.66L19.07 19.07M2 12H4M20 12H22M6.34 17.66L4.93 19.07M19.07 4.93L17.66 6.34"
                                  stroke="#11804A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                                  stroke="#11804A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 2V4M12 20V22M4.93 4.93L6.34 6.34M17.66 17.66L19.07 19.07M2 12H4M20 12H22M6.34 17.66L4.93 19.07M19.07 4.93L17.66 6.34"
                                  stroke="#11804A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </div>

                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>

                    <div class="light-buttons">
                        <button class="light-button-on" onclick="lightUp()">Light on</button>
                        <button class="light-button-off" onclick="lightOff()">Light off</button>
                    </div>
                </div>

                <div class="modal-overlay active" id="modal">
                    <div class="modal">
                        <div class="modal-btns">
                            <button class="close-modal-btn" id="close-modal">
                                <svg width="45px" height="45px" viewBox="0 0 23.5 23.5" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" stroke="#ff0000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"
                                              fill="#ff0000" fill-rule="evenodd" clip-rule="evenodd"></path>
                                    </g>
                                </svg>
                            </button>
                            <button class="add-modal-btn" onclick="window.location.href = '/smartPlantie/plantType'">
                                <svg width="45px" height="45px" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 4v16M4 12h16" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>

                        <div id="change-plant-container" class="change-plant-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function () {
            getAllDataFromMother();
        });
    </script>
</div>

<script type="text/javascript">
    const modal = document.getElementById('modal');
    const openModalBtn = document.querySelector('.open-modal-btn');
    const closeModalBtn = document.getElementById('close-modal');

    modal.classList.remove('active');

    openModalBtn.addEventListener('click', async () => {
        modal.classList.add('active');
        await fetchPlants();
    });

    closeModalBtn.addEventListener('click', () => {
        modal.classList.remove('active');
    });

    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.remove('active');
        }
    });
</script>

</body>
</html>