<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/stats.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title>SmartPlantie</title>

    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="/js/stats.js"></script>
    <script src="/js/mqtt.js"></script>
    <script src="/js/sendDataToMother.js"></script>
</head>
<body>
<script>getAllDataFromMother()</script>
<div class="stats-page" style="background-image:url('/images/background.png')">
    <div class="stats-page-container">
        <div class="upper-logo-container">
            <img class="logo" src="/images/logo.png">
            <span class="logo-name">SmartPlantie</span>
        </div>
        <div class="bottom-stats-container">
            <div class="plant-type">
                <div class="plant-info"><span class="user-type">Your plant: </span>
                    <span class="user-type-name"> </span>
                    <div class="plant-btns">
                        <button class="open-modal-btn">Change</button>
                        <button class="plant-btn" onclick="checkPlantState()">Check the plant state</button>
                    </div>
                </div>
                <span class="plant-description"></span>
            </div>

            <div class="plant-data">
                <div class="temperature-data">
                    <span class="temp-head">Temperature</span>
                    <span class="temp-stats">0 °C</span>
                </div>

                <div class="humidity-data">
                    <span class="humidity-head">Humidity</span>
                    <div class="air-data">
                        <span class="air-head">Air: </span>
                        <span class="air-stats">0 %</span>
                    </div>
                    <div class="soil-data">
                        <span class="soil-head">Soil: </span>
                        <span class="soil-stats">0 %</span>
                        <button class="give-water" onclick="waterPlant()">Water the plant!</button>
                    </div>
                </div>

                <div class="light-data">
                    <span class="light-head">Light</span>
                    <span class="light-stats">0 %</span>

                    <div class="light-slide-container">
                        <input type="range" min="0" max="100" value="0" class="slider" id="myRange" onclick="lightAdjust(lightLevel)">
                    </div>
                </div>

                <div class="modal-overlay active" id="modal">
                    <div class="modal">
                        <button class="close-modal-btn" id="close-modal">
                            <svg width="45px" height="45px" viewBox="0 0 23.5 23.5" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" stroke="#ff0000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"
                                          fill="#ff0000" fill-rule="evenodd" clip-rule="evenodd"></path>
                                </g>
                            </svg>
                        </button>
                        <div id="change-plant-container" class="change-plant-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let lightLevel;
    document.querySelector(".slider").oninput = function () {
        lightLevel = this.value;
        document.querySelector(".light-stats").textContent = `${lightLevel}%`;
    };

    const modal = document.getElementById('modal');
    const openModalBtn = document.querySelector('.open-modal-btn');
    const closeModalBtn = document.getElementById('close-modal');

    modal.classList.remove('active');

    openModalBtn.addEventListener('click', async () => {
        modal.classList.add('active');
        await fetchPlants();
    });

    closeModalBtn.addEventListener('click', () => {
        modal.classList.remove('active');
    });

    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.remove('active');
        }
    });
</script>

<script>
    async function fetchPlant() {
        try {
            const response = await fetch('/api/plants/info');
            const plants = await response.json();
            let plant;

            console.log('here is fetchPlant')
            console.log('response from json ', plants)

            if (!plants) {
                //window.location.href = '/smartPlantie/plantType';
                console.log('there should be redirect to /plantType')
            }

            if (plants.plantType === "DRY_LOVER") {
                plant = "dry-lover plant"
                document.querySelector(".plant-description").textContent = `Dry-loving plants, such as cacti or succulents, require minimal water. They should be provided with direct sunlight and watering should be limited, allowing the soil to dry completely between waterings. Temperatures between 20-30°C are optimal. They can also withstand high temperatures, so it is important to ensure good drainage to avoid water stagnation.`
            } else if (plants.plantType === "MEDIUM_LOVER") {
                plant = "plant that like medium humidity"
                document.querySelector(".plant-description").textContent = `Medium-loving plants, such as ficus or gerberas, need moderate watering and can withstand periods of dryness as well as wetter conditions. They require moderate light and do not like direct sun, but should not be in places that are too dark. The optimal temperature for these plants ranges from 15 to 25°C. Watering should be regular, but the soil should have time to dry out between waterings to avoid root rot.`
            } else if (plants.plantType === "WATER_LOVER") {
                plant = "water-loving plant"
                document.querySelector(".plant-description").textContent = `Water-loving plants such as ferns or tropical flowers need regular watering and high humidity. They like warmth and grow best at temperatures between 18 and 25°C. Since these plants do not tolerate drying out, it is important to keep the soil and the environment constantly moist, for example by using humidifiers.`
            }

            document.querySelector(".user-type-name").textContent = `${plants.plantName} (${plant})`
        } catch (error) {
            console.error('Error fetching plant:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        fetchPlant();
    });



    async function fetchPlants() {
        try {
            const response = await fetch('/api/plants');
            const plants = await response.json();

            const container = document.getElementById('change-plant-container');
            container.innerHTML = '';

            plants.forEach(plant => {
                const plantElement = document.createElement('div');
                plantElement.className = 'change-plant-data-container';

                plantElement.innerHTML = `
                    <span class="change-plant-data">${plant.plantName}</span>
                    <span class="change-plant-data">${plant.plantType}</span>
                    <button class="change-plant-btn" onclick="getCurrentPlantInfo('${plant.plantName}')">Select</button>
                `;

                container.appendChild(plantElement);
            });
        } catch (error) {
            console.error('Error fetching plants:', error.message);
        }
    }
</script>
</body>
</html>