<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/welcomePage.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <title>SmartPlantie</title>
</head>
<body>

<div class="welcome-page">
    <div class="page-container">
        <div class="picture">
            <img src="/static/images/welcome_page.png" alt="Plants">
        </div>
        <div class="welcome-info">
            <span class="main-span">Welcome to SmartPlantie!</span>
            <span>Here you can take care of your plant remotely</span>
            <span>Please choose: </span>
            <button>Log In</button>
            <button>Sign Up</button>
        </div>
    </div>
</div>
</body>
</html>